@font-face {
    font-family: customHeaderFont;
    src: url(../fonts/HelloSunshine.otf);
}

body,html{
    display: flex;
    justify-content: center;
    margin: 30px;
    background-color: blueviolet;
    background-image: url("../images/moroccan-flower-dark.webp");
}
/*
font-family: 'Aboreto', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Solitreo', cursive;

*/
#container{
    width: 1000px;
    padding: 10px;
    border: 1px solid black;
    background-color: blueviolet;
}

h1{
    font-family: customHeaderFont, cursive;
    color: hotpink;
    font-size: 70px;
}

header, nav, section, footer{
    border: 1px solid grey;
    width: 100%;
}

header{
    height: 130px;
}

nav{
    text-align: center;
}

.nav-list{
    list-style: none;
    display: inline;
    text-align: center;
}

.btn:link{
    width: 300px;
    text-decoration: none;
    height: 50px;
    border:1px solid blue;
    color:black;
    background-color: aquamarine;
    padding: 5px;
    margin-left: 10px;
}
.btn:visited{
    color: black;
}
.btn:hover{
    background-color: blueviolet;
}
#nav-list-links{
   
}

footer{
    text-align: center;
    font-family: monospace;
    color: hotpink;
    background-color: blueviolet;
}

.section-text{
    font-family: 'Comfortaa', cursive;
}

#section-header{
    font-family: 'Solitreo', cursive;
}

section{
    padding: 10px;
    width:980px;
}